.product {
    background-color: #D34635;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 450px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product>.product-image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.product>.product-info {
    position: relative;
    width: 100%;
    text-align: left;
}

.product-info>h2 {
    font-size: 1.1rem;
}

.product-info>h3 {
    font-size: 0.9rem;
}

.product-info>button {
    background-color: #3AD886;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.product-delete {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.product-update {
    position: absolute;
    bottom: 0px;
    left: 0px;
}